.layout{
    background-color: rgb(255, 249, 249);
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1% 1fr 1fr 1%;
    grid-auto-rows: minmax(200px, auto);
    


    grid-template-areas:
    ". Header Header ."
    ". Nav Nav ."
    ". Kai Kai ."
    ". Jay Jay ."
    ". Cole Cole ."
    ". Zane Zane ."
    ". Lloyd Lloyd ."
    ". Nya Nya ."
}

.header{
    grid-area: Header;
    background-color: rgb(193, 191, 191);
    text-align: center;
}  
 
.navbar{
    grid-area: Nav;
    background-color: rgb(167, 165, 165);
    text-align: center;
}

#kai{
    grid-area: Kai;
    background-color: rgb(86, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

#portfolio{
    width: 50%;
    height: auto;
    display: block;
}

#sword {
    transform: rotate(90deg);
    width: 50%;
    height: auto;
    display: block;
}


.portfolio-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sword-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#jay{
    grid-area: Jay;
    background-color: rgb(44, 40, 165);
    text-align: center;
}

#cole{
    grid-area: Cole;
    background-color: rgb(156, 79, 7);
    text-align: center;
}




@media (max-width: 800px) {
    .layout{
        grid-template-columns: 1% 1fr 1%;
        grid-template-areas:
        ". Header ."
        ". Nav ."
        ". Kai ."
        ". Jay ."
        ". Cole .";
    }
    .header, .navbar, #kai, #jay, #cole, #zane, #lloyd, #nya{
        width: 100%;
    }
}