

.layout{
    background-color: brown;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1% 1fr 1fr 1%;
    grid-auto-rows: minmax(200px, auto);


    grid-template-areas:
    ". Header Header ."
    ". Nav Nav ."
    ". Kai Kai ."
    ". Jay Jay ."
    ". cole cole ."
    ". Zane Zane ."
    ". Lloyd Lloyd ."
    ". Nya Nya ."
}

#kai{
grid-area: Kai;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.kai-image{
    width: 40%;
    height: auto;
    border-style: solid;
    border-radius: 30%;
    
}

.sword-image{
    
}

p{
    padding-left: 20px;
}

#cole{
    grid-area: cole;
}


#jay{
    grid-area: Jay;
}


#zane{
 grid-area: Zane;
}


#lloyd{
    grid-area: Lloyd;
}


#nya{
    grid-area: Nya;
}



header{
    grid-area: Header;
    background-color: rgb(141, 9, 9);
    border:  10px solid rgb(141, 9, 9);
    border-radius: 0px 0px 30px 30px;
    text-align: 50%;
}

button{
    float: left;
    margin: 8px;
    background-color: brown;
    color: rgb(145, 84, 84);
}

nav{
    grid-area: Nav;
    background-color: rgb(141, 9, 9);
}


main{
    
}



.side2 img{
    width: 50%;
    height: auto;
}

main img{
    width: 50%;
    height: auto;
    border-style: solid;
    border-radius: 30%;
}


.main2{
    grid-area: kaiMain2;
    background-color: brown;
    padding: 10px;
  
    
}

aside{
    grid-area: kaiSide;
    background-color: brown;
    padding: 10px;
    
}

.side2{
    grid-area: kaiSide2;
    background-color: brown;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/fire-flames-on-a-transparent-background-free-png.webp);
}

footer{
    grid-area: kaiFooter;
    background-color: brown;
    
}



@media (max-width: 600px) {
    .layout{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1% 1fr 1%;

        grid-template-areas: 
        ". header ."
        ". nav ."
        ". main ."
        ". side ."
        ". side2 ."
        ". main2 ."
        ". footer .";

        header{
            grid-area: header;
            background-color: rgb(141, 9, 9);
            border:  5px solid rgb(141, 9, 9);
            border-radius: 0px 0px 15px 15px;
        }

        button{
            float: left;
            margin: 2px;
            background-color: brown;
            color: rgb(0, 0, 0);
            font-size: 10px;
        }

        .side2{
            grid-area: side2;
            background-image: url(images/fireee.png);
        }
    }
}
@media (min-width: 600px) {
    .abc80{
        display: none;
    }
    
}
